@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
}

section {
  padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}
ul {
  list-style: none;
}

.primary__btn {
  background: var(--secondary-color) !important;
  border: none !important;
  border-radius: 50px !important;
  padding: 0.4rem 1.5rem !important;
}

.primary__btn a {
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
.primary__btn a:hover {
  color: inherit;
}
.secondary__btn {
  background: transparent !important;
  color: #0b2727 !important;
  border: none !important;
  font-weight: 500 !important;
}

.secondary__btn a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--heading-color);
}

.secondary__btn a:hover {
  color: inherit;
}

.section__subtitle {
  background: var(--secondary-color);
  font-family: var(--subtitle-font-name);
  width: max-content;
  padding: 0px 0.5rem;
  padding-right: 1rem;

  border-radius: 50px;
  font-weight: 500;
  font-size: 1.7rem;
  color: var(--heading-color);
}


/* =============== RESPONSIVE ================ */
@media only screen and (max-width:992px) {
   .primary__btn a,
   .secondary__btn a {
      font-size: 0.9rem;
   }

   .primary__btn,
   .secondary__btn,
   .btn-dark {
      padding: 0.2rem 1.1rem !important;
   }

   section {
      padding: 40px 0;
   }
}

@media only screen and (max-width: 768px) {
   .section__subtitle {
      font-size: 1.3rem;
   }
}


/* adminPanel.css */

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.admin-header {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.admin-header h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.admin-panel {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  height: auto
}

.panel-container {
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.panel-container h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.panel-btn {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.panel-btn:hover {
  background-color: #2980b9;
}

.panel-btn:last-child {
  margin-bottom: 0;
}

.left-panel {
  display: flex;
  justify-content: space-between !important;
}

.btn {
  display: block; /* Make buttons full width */
  margin-bottom: 10px; /* Add some space between buttons */
}

.btn-primary {
  background-color: var(--primary-color); /* Use the primary color variable */
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: var(--secondary-color); /* Use the secondary color variable */
}


